

<mat-toolbar color="primary">
  <span>{{title}}</span>
   <!-- This fills the remaining space of the current row -->
   <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<br>
<div class="container" style="width:1000px;margin:auto;">
  <mat-card>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Mot clé</mat-label>
                <input matInput [(ngModel)]="tag" placeholder="mot clé..." (keyup)="nouveau_mot_cle()">
                <mat-icon matSuffix="">image_search</mat-icon>
            </mat-form-field>

                <div>
                  Nombre total de photos : {{ photos?.total }}
                </div>
          <br>
          <div> Liste des photos </div>
          <br>
          <div class="container">

          

            <div class="row">

                <div class="col-4" *ngFor="let photo of photos?.photo">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title style="font-size:14px;color:indigo"> {{ photo.title }}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="thumb" (click)="openDialog(photo)" [src]="getPhotoUrl(photo)">
                      </mat-card>
                      <br>
                </div>

            </div>
          </div>


          <div class="fixed">
              <app-photo [photo]="photo_courante"></app-photo>
          </div>
  </mat-card>
</div>
<router-outlet></router-outlet>